* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  padding: 20px;
}
.top-container {
    background-color: blue;
}
.desktop {
  background-color: #32ccc4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  /* margin-top: -20px; */
  width: 100%;
  position: fixed;
  /* display: block; */
  top: 0;
  z-index: 3;
}

#links li {
  list-style: none;
}
#links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seo2 {
  margin-top: 150px;
  margin-right: 7px;
  font-weight: 80px;
  /* background-color: black; */
}
.dream {
  font-size: 22px;
  color: #fcffff;
}
.s {
  color: #feffff;
}
#seo {
  color: #fb9452;
  font-size: 40px;
  padding: 0px 70px;
}
.seo1 {
  display: flex;
  margin-top: -100px;
  margin-left: 7px;
  padding: 0px 130px;
}
a {
  color: #fcffff;
  text-decoration: none;
}

button {
  border-radius: 90px;
  padding: 14px;
  color: #fcffff;
  background-color: #4871cb;
  box-shadow: 0px 2px 2px 0px;
}
.spec button:hover {
  color: #4871cb;
  background-color: #fcffff;
}
.second {
  background-image: url("../images/banner-dec-right.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  width: 1159px;
  height: 797px;
  z-index: -1;
  padding: 0px 70px;
  margin-top: -20px;
  padding: 0px 70px;
  
}
.third {
  background-image: url("../images/banner-dec-left.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 100px;
  width: 300px;
  height: 693px;
  z-index: -1;
}
.left {
  width: 50%;
  display: flex;
  margin-top: 130px;
  justify-content: space-evenly;
  padding: 4px;
  /* padding: 0px 70px; */
}
.shift {
  /* background-color: brown; */
  padding: 0px 70px;
}
.ltf {
  margin-bottom: 10px;
}

.line{
  height: 40px;
  border-top: 1px solid #eee;
  margin-left: 115px;
  width: 35%;
  position: absolute;
  padding: 0px 70px;
}

p {
  color: black;
}
.b2 {
  margin-top: 15px;
  margin-left: 70px;
  box-shadow: 0px 12px 2px 10px 3px;
}
.b {
  background-color: #32ccc4;
  padding: 13px;
  width: 30%;
}
.b2 button:hover {
  background-color: #4871cb;
}
.banner {
  margin-left: 0px;
  /* padding: 0px 70px; */
  /* background-color: darkgreen; */
}
.section-4 {
  display: flex;
  justify-content: space-evenly;
  width: 1100px;
  height: 390px;
  margin: auto;
  padding: 20px;
  position: absolute;
  left: 190px;
  top: 835px;
  z-index: 1;
  margin-top: 50px;
  padding: 0px 70px;
}
.gide {
  display: flex;
  background-color: #ffffff;
  border-radius: 50px;
  height: 100%;
  width: 100%;
}
.title {
  height: 0px;
  border-bottom: 1px solid #32ccc4;
  margin-top: -8px;
  width: 5%;
  position: absolute;
  margin-left: 69px;
}
.svgs {
  margin-top: -50px;
  margin-bottom: 40px;
  position: relative;
  margin-left: 25px;
}
.gride-1 {
  padding: 20px;
  margin-left: -00px;
  width: 25%;
}
.gride-2 {
  padding: 30px;
  margin-right: 20px;
  width: 25%;
}
.gride-3 {
  padding: 20px;
  margin-right: 10px;
  width: 25%;
}
.gride-4 {
  padding: 20px;
  border-radius: 20px;
  width: 25%;
}
.svg {
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: -20px;
}
h1 {
  margin-bottom: 20px;
  color: #2a2a2a;
  text-align: center;
}
p {
  margin-top: 50px;
  /* color: #8d8d8d; */
  text-align: center;
}
h4 {
  position: absolute;
  margin-top: -50px;
  margin-left: 40px;
  color: white;
  font-size: 30px;
}

.gride-1:hover {
  background-color: #29bec5;
  border-radius: 20px;
}
.gride-2:hover {
  background-color: #29bec5;
  border-radius: 20px;
}
.gride-3:hover {
  background-color: #29bec5;
  border-radius: 20px;
}
.gride-4:hover {
  background-color: #29bec5;
  border-radius: 20px;
}

.halves-circle {
  background: #fff;
  height: 150px;
  width: 150px;
  border: 10px solid;
  border-radius: 50%;
  border-color: #e1e1e1 #fa6b54 #fa6b54;
  transform: rotate(deg);
}
.num {
  margin-bottom: -50px;
}
#num {
  margin-top: 30px;
}

.halves-circle1 {
  background: #fff;
  height: 150px;
  width: 150px;
  border: 10px solid;
  border-radius: 50%;
  border-color: #dddddd #dddddd #fa6b54 #fa6b54;
  transform: rotate(deg);
}
.halves-circle2 {
  background: #fff;
  height: 150px;
  width: 150px;
  border: 10px solid;
  border-radius: 50%;
  border-color: #fb6a54 #fb6a54 #fb6a54 #fb6a54;
  transform: rotate(deg);
}
.halves-circle3 {
  background: #fff;
  height: 150px;
  width: 150px;
  border: 10px solid;
  border-radius: 50%;
  border-color: #dddddd #fb6a54 #fb6a54 #fb6a54;
  transform: rotate(deg);
}
.set-circle {
  width: 66%;
  height: 300px;
  margin-left: 238px;
  margin-top: 480px;
}
.circles {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #f5f5f5;
  padding: 20px;
  position: relative;
  margin-top: -20px;
  background-color: #f5f5f5;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  padding: 110px 0px 50px 0px;

}
.abt {
  width: 80%;
}
h6 {
  color: #575757;
}
.about-us1 {
  margin-top: 0px;
  text-align: center;
  padding: 0px 70px;
  margin-top: 30px;
}
h2 {
  margin-bottom: 20px;
  font-size: 9px;
  margin-left: -400px;
}
.three {
  font-size: 30px;
  color: #1688b4;
  margin-top: 40px;
}
.h5 {
  padding: 10px;
}
.t {
  font-size: 30px;
  padding: 0px 70px;
}
#about-us {
  color: #2a2a2a;
}
.aboout {
  display: flex;
  padding: 20px;
}
.analysis {
  display: flex;
  margin-top: 10px;
  justify-content: space-evenly;
  padding: 0px 70px;
}
.about-details {
  margin-top: 20px;
  padding: 0px 70px;
}
.text-area {
  margin-top: 30px;
  line-height: 1.7;
  color: #575757;
  font-size: 20px;
  padding: 0px 70px;
}
.imgess {
  width: 40%;
}

.d {
  background-color: #32ccc4;
  padding: 13px;
  width: 30%;
  margin-right: 300px;
  margin-top: 30px;
}
.b3 button:hover {
  background-color: #4871cb;
}
.service {
  text-align: center;
  font-size: 30px;
}
.our-service {
  align-items: center;
  font-size: 19px;
  padding: 0px 70px;
}
.ser {
  font-size: 15px;
}
.gride-box {
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  padding: 0px 70px;
}
.first-box {
  background-color: #f7f1f1;
  margin-left: 20px;
  margin-top: 7px;
  width: 30%;
  height: 80%;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  line-height: 1;
  transition: box-shadow 0.3s;
}
.second-box {
  background-color: #f7f1f1;
  margin-left: 20px;
  margin-top: 7px;
  width: 30%;
  height: 80%;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  line-height: 1;
  transition: box-shadow 0.3s;
}
.third-box {
  background-color: #f7f1f1;
  margin-left: 20px;
  margin-top: 7px;
  width: 30%;
  height: 80%;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  line-height: 1;
  transition: box-shadow 0.3s;
}
.gride-box2 {
  width: 100%;
  height: 300px;
  display: flex;
  margin-top: -30px;
  justify-content: center;
  padding: 0px 70px;
}
.first-box1 {
  background-color: #f7f1f1;
  margin-left: 20px;
  margin-top: 7px;
  width: 30%;
  height: 80%;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  line-height: 1;
  transition: box-shadow 0.3s;
}
.second-box2 {
  background-color: #f7f1f1;
  margin-left: 20px;
  margin-top: 7px;
  width: 30%;
  height: 80%;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  line-height: 1;
  transition: box-shadow 0.3s;
}
.third-box3 {
  background-color: #f7f1f1;
  margin-left: 20px;
  margin-top: 7px;
  width: 30%;
  height: 80%;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  line-height: 1;
  transition: box-shadow 0.3s;
}
.icon-1 {
  margin-bottom: -80px;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  background-color: #f7f7f7;
  border-radius: 20%;
  margin-right: 300px;
}
.web {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 59px;
}
.first-box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.first-box1:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.second-box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.second-box2:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.third-box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.third-box3:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.dis {
  margin-top: 20px;
  margin-right: 900px;
  line-height: 1;
  font-size: 25px;
}
.our-portofolio {
  padding: 20px;
}
.our {
  margin-top: 20px;
  padding: 0px 95px;
}
.pic {
  width: 18%;
  display: flex;
  position: relative;
  
}
.pics {
  justify-content: space-evenly;
  justify-content: space-around;
  display: flex;
  padding: 0px 70px;
}

.picx {
  justify-content: space-evenly;
  justify-content: space-around;
  display: flex;
  margin-top: 20px;
  padding: 0px 70px;
}

.picture-collection {
  justify-content: space-evenly;
  margin-top: 30px;
  background-color: darkblue;
  display: flex;
}
.collections {
  width: 18%;
  display: flex;
}
#mm {
  border-radius: 30px;
  margin-right: 30px;
}
.form {
  background-image: url("../images/contact-bg.jpg");
  margin-top: 100px;
  padding: 120px 0px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.form-contact {
  background-color: #feffff;
  width: 60%;
  height: 700px;
  border-radius: 20px;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 20px;
  overflow: hidden;
}
.nav-top {
  height: 15%;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.form-fill {
  width: 60%;
  margin-top: 20px;
}
input[type="text"],
select {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#subject {
  margin-top: 20px;
}

textarea {
  width: 80%;
  padding: 20px;
}
#form-fill {
  width: 20%;
  height: 400px;
  background-color: whitesmoke;
  margin-top: 20px;
  border-radius: 10px;
}
.down {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.infos {
  text-align: center;
}
.mail {
  margin-top: 50px;
}
.phone {
  margin-top: 50px;
}
.locate {
  margin-top: 50px;
}
.form-heading {
  font-size: 30px;
  margin-top: 12px;
}
.b4 {
  margin-top: 15px;
  margin-left: 70px;
  box-shadow: 0px 12px 2px 10px 3px;
  text-align: center;
}
.c {
  background-color: #32ccc4;
  padding: 13px;
  width: 40%;
}
.b4 button:hover {
  background-color: #4871cb;
}
#linkes {
  font-size: 10px;
}
.infos a:hover {
  color: gray;
}
#footer {
  font-size: 30px;
  text-align: center;
  background-color: #ffffff;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
  top: 0px;
}

.dropdown-content h6 {
  padding: 12px 16px;
  text-decoration: solid;
  display: block;
  border-radius: 20px;
}

.pic:hover .dropdown-content {
  display: block;
}
.inline-text {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 30px;
  height: 100%;
  overflow: hidden;
}
.orange {
  border-radius: 20px;
}
#orange {
  overflow: hidden;
  position: relative;
}
.cup {
  border-radius: 20px;
  margin-left: 20px;
}
#tea-cup {
  overflow: hidden;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  height: 100%;
  top: 0px;
}

.dropdown-content h6 {
  padding: 12px 16px;
  text-decoration: solid;
  display: block;
  border-radius: 20px;
}

.dropdown-content :hover {
  background: linear-gradient(
    105deg,
    rgba(51, 204, 197, 1) 0%,
    rgba(8, 141, 195, 1) 100%
  );
  text-align: center;
  padding-top: 70px;
  font-size: 20px;
  color: white;
}
.img-list {
  border-radius: 20px;
  width: 95%;
}